<div class="article-wrapper">
  <article class="article-single container container--small" role="article" itemscope itemtype="http://schema.org/Article">

    {% if article.image %}
      	<div class="image-wrapper article-single__featured-image" style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%">
          <a href="{{ article.url }}">
            <img class="article-card__image is-lazyloaded lazyload" data-srcset="{% include 'srcset', image: article.image | img_url %}" src="{{ article.image | img_url }}" alt="{{ article.image.alt }}">
          </a>
        </div>
        {% comment %} /.image-wrapper {% endcomment %}
    {% endif %}

    <aside class="post-share">
      <p class="post-share__heading">Share on:</p>
      <a href="//www.facebook.com/sharer.php?u={{ shop.url | append: article.url }}" class="post-share__item">
        {% include 'icon-facebook' %}
        <span class="visually-hidden">Share article on Facebook</span>
      </a>
      <a href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ shop.url | append: article.url }}" class="post-share__item">
        {% include 'icon-twitter' %}
        <span class="visually-hidden">Share article on Twitter</span>
      </a>
      <a href="" class="post-share__item">
        {% include 'icon-pinterest' %}
        <span class="visually-hidden">Share article on Pinterest</span>
      </a>
    </aside>

    <header role="banner" class="article-meta">
      <h1 class="article-meta__title">{{ article.title }}</h1>
      <p class="article-meta__date">Published on: {{ article.published_at | time_tag: '%B %-d, %Y' }}</p>
    </header>

    <div class="rte" itemprop="articleBody">
      {{ article.content }}
    </div>

    {% if article.tags.size > 0 %}
      <ul class="tags-list">
        <p class="tags-list__heading">Tagged as:</p>
        {% for tag in article.tags %}
          <li class="tags-list__item">
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </article>

  {% if blog.next_article or blog.previous_article %}
    <div class="article-pagination container container--small">
      {% if blog.previous_article %}
        <a href="{{ blog.previous_article.url }}" class="article-pagination__previous">{% include 'icon-arrow-right' %} Previous Article</a>
      {% endif %}
      {% if blog.next_article %}
        <a href="{{ blog.next_article.url }}" class="article-pagination__next">Next Article {% include 'icon-arrow-right' %}</a>
      {% endif %}
    </div>
    {% comment %} /.article-pagination {% endcomment %}
  {% endif %}
</div>
{% comment %} /.article-wrapper {% endcomment %}
