<section class="blog" data-section-type="blog" data-section-id="{{ section.id }}">
  <div class="container">

    {% comment %}
    ------------------------------------------------------------------------------
    Breadcrumbs
    ------------------------------------------------------------------------------
    {% endcomment %}
    <div class="breadcrumbs">
      <a href="{{ shop.url }}" class="breadcrumbs__link">Home</a>
      <span class="breadcrumbs__arrow">{% include 'icon-arrow-right' %}</span>
      <a href="{{ blog.url }}" class="breadcrumbs__link">{{ blog.title }}</a>
    </div>
    {% comment %} /.breadcrumbs {% endcomment %}

    {% comment %}
    ------------------------------------------------------------------------------
    Page Header
    ------------------------------------------------------------------------------
    {% endcomment %}
    <header class="page-header">
      <h1 class="page-header__title">{{ blog.title }}</h1>
    </header>
  </div>
  {% comment %} /.container {% endcomment %}
</section>
