<section class="collection" data-section-type="collection" data-section-id="{{ section.id }}">
	<div class="container">

    {% comment %}
    ------------------------------------------------------------------------------
    Breadcrumbs
    ------------------------------------------------------------------------------
    {% endcomment %}
		<div class="breadcrumbs collection__breadcrumbs">
			<a href="{{ shop.url }}" class="breadcrumbs__link">Home</a>
			<span class="breadcrumbs__arrow">{% include 'icon-arrow-right' %}</span>
			<a href="{{ collection.url }}" class="breadcrumbs__link">{{ collection.title }}</a>
		</div>
		{% comment %} /.breadcrumbs {% endcomment %}

    {% comment %}
    ------------------------------------------------------------------------------
    Page Header
    ------------------------------------------------------------------------------
    {% endcomment %}
		<header class="page-header collection-header">
			<h1 class="page-header__title">{{ collection.title }}</h1>
			{% if collection.description != blank %}
				<div class="rte collection__description">
					{{ collection.description }}
				</div>
			{% endif %}
		</header>

    {% comment %}
    ------------------------------------------------------------------------------
    Colletion Actions
    ------------------------------------------------------------------------------
    {% endcomment %}
		<div class="collection__actions">
			<div class="collection__vendors collection__action-block">
				<label for="vendor-sort">Vendor:</label>
				<select name="vendor-sort" id="vendor-sort" class="styled-select" data-vendor-sort>
						<option value="/collections/all">All Vendors</option>
					{% for vendor in collections['all'].all_vendors %}
						<option value="/collections/vendors?q={{ vendor | split: ' ' | join: '%20' }}" {% if collection.title == vendor %} selected="selected"{% endif %}>{{ vendor }}</option>
					{% endfor %}
				</select>
			</div>
			{% comment %} /.collection__vendor {% endcomment %}
			<div class="collection__sort collection__action-block">
				{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
				<label for="sort-by">Sort by:</label>
				<select class="styled-select" id="sort-by" data-collection-sort>
					<option value="manual" {% if sort_by == "manual" %} selected="selected"{% endif %}>Featured</option>
					<option value="price-ascending" {% if sort_by == "price-ascending" %} selected="selected"{% endif %}>Price: Low to High</option>
					<option value="price-descending" {% if sort_by == "price-descending" %} selected="selected"{% endif %}>Price: High to Low</option>
					<option value="title-ascending" {% if sort_by == "title-ascending" %} selected="selected"{% endif %}>A-Z</option>
					<option value="title-descending" {% if sort_by == "title-descending" %} selected="selected"{% endif %}>Z-A</option>
					<option value="created-ascending" {% if sort_by == "created-ascending" %} selected="selected"{% endif %}>Oldest to Newest</option>
					<option value="created-descending" {% if sort_by == "created-descending" %} selected="selected"{% endif %}>Newest to Oldest</option>
					<option value="best-selling" {% if sort_by == "best-selling" %} selected="selected"{% endif %}>Best Selling</option>
				</select>
			</div>
			{% comment %} /.collection__sort {% endcomment %}
		</div>
		{% comment %} /.collection__actions {% endcomment %}
	</div>
	{% comment %} /.container {% endcomment %}

  {% comment %}
  ------------------------------------------------------------------------------
  Collection List
  ------------------------------------------------------------------------------
  {% endcomment %}
	<div class="collection__list">
		<div class="container">
			{% paginate collection.products by 12 %}
				<div class="flexgrid flexgrid--guttered">
						{% for product in collection.products %}
							{% include 'product-card' %}
						{% endfor %}
				</div>
				{% comment %} /.flexgird {% endcomment %}

        {% comment %}
        ------------------------------------------------------------------------------
        Pagination
        ------------------------------------------------------------------------------
        {% endcomment %}
        {% if paginate.pages > 1 %}
          <div class="pagination-wrapper collection-pagination">
            {{ paginate | default_pagination: next: "Next", previous: "Previous" }}
          </div>
        {% comment %} /.pagination-wrapper {% endcomment %}
        {% endif %}
			{% endpaginate %}
		</div>
		{% comment %} /.container {% endcomment %}
	</div>
	{% comment %} /.collection__list {% endcomment %}
</section>

{% schema %}
	{
		"name": "Collection Page"
	}
{% endschema %}
