<footer class="site-footer">
  <div class="container flexgrid">
    <div class="flexgrid__item two-thirds--medium-up one-whole flexgrid footer-column">
      <div class="flex-grid__item one-third--medium-up one-whole footer-column">
        <h3 class="site-footer__heading">Get in Touch</h3>
        <div class="site-footer__contact">
          123 Fake Street
          Springfield, MA 01234
          contact@myshop.com
        </div>
        {% comment %} /.site-footer__contact {% endcomment %}
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
      <div class="flexgrid__item one-third--medium-up one-whole footer-column">
        <h3 class="site-footer__heading">Follow Us</h3>
        <div class="site-footer__social footer-social">
          <a href="#0" class="footer-social__item">
            <span class="visually-hidden">{{ shop.name }} on Facebook</span>
            {% include 'icon-facebook' %}
          </a>
          <a href="#0" class="footer-social__item">
            <span class="visually-hidden">{{ shop.name }} on Instagram</span>
            {% include 'icon-instagram' %}
          </a>
          <a href="#0" class="footer-social__item">
            <span class="visually-hidden">{{ shop.name }} on Twitter</span>
            {% include 'icon-twitter' %}
          </a>
          <a href="#0" class="footer-social__item">
            <span class="visually-hidden">{{ shop.name }} on Pinterest</span>
            {% include 'icon-pinterest' %}
          </a>
        </div>
        {% comment %} /.site-footer__social {% endcomment %}
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
      <div class="flexgrid__item one-third--medium-up one-whole footer-column">
        <h3 class="site-footer__heading">Customer Help</h3>
        <nav class="site-footer__nav footer-nav">
          <a href="#0" class="footer-nav__item">Item 1</a>
          <a href="#0" class="footer-nav__item">Item 2</a>
          <a href="#0" class="footer-nav__item">Item 3</a>
          <a href="#0" class="footer-nav__item">Item 4</a>
        </nav>
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
    </div>
    {% comment %} /site-footer__footer-column {% endcomment %}
    <div class="flexgrid__item one-third--medium-up one-whole footer-column site-footer__newsletter">
      <h3 class="site-footer__heading">Signup for News</h3>
      {% form 'customer' %}
        {% if form.posted_successfully? %}
          <p class="form-success">Thank you for subscribing!</p>
          {% else %}
          <div class="inline-form">
            <input type="email" name="contact[email]" placeholder="Email address" class="inline-form__input styled-input">
            <input type="submit" value="Submit" class="inline-form__submit button button--grey button--small">
          </div>
          {% comment %} /.inline-form {% endcomment %}
        {% endif %}
        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}
      {% endform %}
    </div>
    {% comment %} /site-footer__footer-column {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</footer>



{% comment %} <footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          {% if payment_icons_available contains type %}
            <li>
              {%- assign icon_name = type | prepend: 'icon-' -%}
              {% include icon_name %}
              <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer> {% endcomment %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
