<footer class="site-footer">
  <div class="container flexgrid">
    <div class="flexgrid__item two-thirds--medium-up one-whole flexgrid footer-column">
      <div class="flex-grid__item one-third--small-up one-whole footer-column">
        <h3 class="site-footer__heading">Get in Touch</h3>
        <div class="site-footer__contact">
          {{ section.settings.footer_contact_info }}
        </div>
        {% comment %} /.site-footer__contact {% endcomment %}
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
      <div class="flexgrid__item one-third--small-up one-whole footer-column">
        <h3 class="site-footer__heading">Follow Us</h3>
        <div class="site-footer__social footer-social">
          {% if settings.facebook_profile_url != blank %}
            <a href="{{ settings.facebook_profile_url }}" class="footer-social__item">
              <span class="visually-hidden">{{ shop.name }} on Facebook</span>
              {% include 'icon-facebook' %}
            </a>
          {% endif %}
          {% if settings.instagram_profile_url != blank %}
            <a href="{{ settings.instagram_profile_url }}" class="footer-social__item">
              <span class="visually-hidden">{{ shop.name }} on Instagram</span>
              {% include 'icon-instagram' %}
            </a>
          {% endif %}
          {% if settings.twitter_profile_url != blank %}
            <a href="{{ settings.twitter_profile_url }}" class="footer-social__item">
              <span class="visually-hidden">{{ shop.name }} on Twitter</span>
              {% include 'icon-twitter' %}
            </a>
          {% endif %}
          {% if settings.pinterest_profile_url != blank %}
            <a href="{{ settings.pinterest_profile_url }}" class="footer-social__item">
              <span class="visually-hidden">{{ shop.name }} on Pinterest</span>
              {% include 'icon-pinterest' %}
            </a>
          {% endif %}
        </div>
        {% comment %} /.site-footer__social {% endcomment %}
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
      <div class="flexgrid__item one-third--small-up one-whole footer-column">
        <h3 class="site-footer__heading">Customer Help</h3>
        <nav class="site-footer__nav footer-nav">
        {% assign footer_linklist = section.settings.footer_linklist %}
        {% for link in linklists[footer_linklist].links %}
          <a href="{{ link.url }}" class="footer-nav__item">{{ link.title }}</a>
        {% endfor %}
        </nav>
      </div>
      {% comment %} /.flexgrid__item {% endcomment %}
    </div>
    {% comment %} /site-footer__footer-column {% endcomment %}
    <div class="flexgrid__item one-third--medium-up one-whole footer-column site-footer__newsletter">
      <h3 class="site-footer__heading">Signup for News</h3>
      {% form 'customer' %}
        {% if form.posted_successfully? %}
          <p class="form-success">Thank you for subscribing!</p>
          {% else %}
          <div class="inline-form">
            <input type="email" name="contact[email]" placeholder="Email address" class="inline-form__input styled-input" required="required">
            <input type="submit" value="Submit" class="inline-form__submit button button--grey button--small">
          </div>
          {% comment %} /.inline-form {% endcomment %}
        {% endif %}
        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}
      {% endform %}
    </div>
    {% comment %} /site-footer__footer-column {% endcomment %}
  </div>
  {% comment %} /.container {% endcomment %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "richtext",
        "id": "footer_contact_info",
        "label": "Contact Info/Address"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Footer Menu",
        "info": "Create a menu in your shop's [navigation settings](https://www.shopify.com/admin/menus)",
        "default": "footer"
      }
    ]
  }

{% endschema %}
