{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign current_variant_sale = false -%}
{%- if current_variant.compare_at_price > current_variant.price -%}
	{%- assign current_variant_sale = true -%}
{%- endif -%}


<section class="product" itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
	
	{% comment %}
	------------------------------------------------------------------------------
	Schema.org Product Info
	------------------------------------------------------------------------------
	{% endcomment %}
	<meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

	<div class="container">
		
		{% comment %}
		------------------------------------------------------------------------------
		Product Breacrumbs
		------------------------------------------------------------------------------
		{% endcomment %}
		<div class="breadcrumbs">
			<a href="{{ shop.url }}" class="breadcrumbs__link">Home</a>
			{% if collection.url and collection.title != 'Products' %}
				<span class="breadcrumbs__arrow">{% include 'icon-arrow-right' %}</span>
				<a href="{{ collection.url }}" class="breadcrumbs__link">{{ collection.title }}</a>
			{% endif %}
			<span class="breadcrumbs__arrow">{% include 'icon-arrow-right' %}</span>
			<a href="{{ product.url }}" class="breadcrumbs__link">{{ product.title }}</a>
		</div>
		{% comment %} /.breadcrumbs {% endcomment %}

		<div class="flexgrid flexgrid--guttered">
			<div class="flexgrid__item product-photos one-whole one-half--medium-up">
				
				{% comment %}
				------------------------------------------------------------------------------
				Product Image Slider
				------------------------------------------------------------------------------
				{% endcomment %}
				<div class="product-image-slider" data-product-image-slider>
					{% for image in product.images %}
						<figure class="product-photos__image">
							<div class="image-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%">
								<img class="is-lazyloaded lazyload" data-sizes="auto" data-srcset="{% include 'srcset', image: image | img_url %}" src="{{ image | img_url }}" alt="{{ image.alt }}">
							</div>
							{% comment %} /.image-wrapper {% endcomment %}
						</figure>
					{% endfor %}
				</div>

				{% comment %}
				------------------------------------------------------------------------------
				Product Thumbnails
				------------------------------------------------------------------------------
				{% endcomment %}
				{% if product.images.size > 1 %}
					<div class="product-photos__thumbnails product-thumbnails flexgrid flexgrid--guttered">
						{% for image in product.images %}
							<figure class="product-thumbnails__item flexgrid__item one-fourth" data-image-index="{{ forloop.index0 }}" data-product-single-thumbnail>
								<div class="image-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%">
									<img class="is-lazyloaded lazyload" data-sizes="auto" data-srcset="{% include 'srcset', image: image | img_url %}" src="{{ image | img_url }}" alt="{{ image.alt }}">
								</div>
								{% comment %} /.image-wrapper {% endcomment %}
							</figure>
						{% endfor %}
					</div>
					{% comment %} /.product-thumbnails {% endcomment %}
				{% endif %}
			</div>
			{% comment %} /.product-photos {% endcomment %}

			{% comment %}
			------------------------------------------------------------------------------
			Product Name, Price, and Options
			------------------------------------------------------------------------------
			{% endcomment %}
			<div class="flexgrid__item product-details one-whole one-half--medium-up">
				<h1 class="product-details__title" itemprop="name">{{ product.title }}</h1>

				{% if product.type %}
					<p class="product-details__type">{{ product.type | link_to_type }}</p>
				{% endif %}
				{% if product.type and product.vendor %}
					<span class="product-details__meta-separator"> | </span>
				{% endif %}
				{% if product.vendor %}
					<p class="product-details__vendor">{{ product.vendor | link_to_vendor }}</p>
				{% endif %}

				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="{{ shop.currency }}">
					<meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
					<link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

						<div class="product-details__notices{% unless current_variant_sale %} hide{% endunless %}" data-product-sale-notice>
							<span class="on-sale">On Sale</span>
						</div>
						{% comment %} /.product-details__notices {% endcomment %}

					<div class="product-details__price-wrapper" data-price-wrapper>
						<span class="product-details__price" data-product-price itemprop="price">
							{{ current_variant.price | money }}
						</span>

						{% if product.compare_at_price_max > product.price %}
							<span class="visually-hidden" data-compare-text>Regular Price</span>
							<s class="product-details__compare-price" data-compare-price>
								{% if current_variant.compare_at_price > current_variant.price %}
									{{ current_variant.compare_at_price | money }}
								{% endif %}
							</s>
						{% endif %}
					</div>
					
					{% comment %}
					------------------------------------------------------------------------------
					Product Form
					------------------------------------------------------------------------------
					{% endcomment %}
					<form class="product-details__form" action="/cart/add" method="post" enctype="multipart/form-data">

						{% unless product.has_only_default_variant %}
							{% for option in product.options_with_values %}
								<div class="selector-wrapper product-details__option-select js">
									<label class="product-details__form-label" for="SingleOptionSelector-{{ forloop.index0 }}">
										{{ option.name }}
									</label>

									<select
										class="styled-select"
										id="SingleOptionSelector-{{ forloop.index0 }}"
										data-single-option-selector
										data-index="option{{ option.position }}">
										{% for value in option.values %}
											<option
												value="{{ value | escape }}"
												{% if option.selected_value == value %}selected="selected"{% endif %}>
													{{ value }}
											</option>
										{% endfor %}
									</select>
								</div>
							{% endfor %}
						{% endunless %}

						<select name="id" class="no-js" data-product-select>
							{% for variant in product.variants %}
								<option
									{% if variant == current_variant %}selected="selected"{% endif %}
									{% unless variant.available %}disabled="disabled"{% endunless %}
									value="{{ variant.id }}">
										{{ variant.title }}
								</option>
							{% endfor %}
						</select>

						<div class="flexgrid flexgrid--guttered">
							<div class="product-details__quantity-wrapper flexgrid__item one-half">
								<label class="product-details__form-label" for="Quantity">Quantity</label>
								<input class="product-details__quantity" type="number" id="Quantity" name="quantity" value="1" min="1">
							</div>
							{% comment %} /.product-details__quantity-wrapper {% endcomment %}
							<div class="product-details__add-wrapper flexgrid__item one-half">
								<button
									type="submit"
									name="add"
									data-add-to-cart
									class="product-details__add-to-cart button button--primary"
									{% unless current_variant.available %}disabled="disabled"{% endunless %}>
										<span data-add-to-cart-text>
											{% if current_variant.available %}
												Add to Cart
											{% else %}
												Sold Out
											{% endif %}
										</span>
								</button>
							</div>
							{% comment %} /.product-details__add-wrapper {% endcomment %}
						</div>
						{% comment %} /.flexgrid {% endcomment %}
					</form>
				</div>
				{% comment %} /offers {% endcomment %}

				{% comment %}
				------------------------------------------------------------------------------
				Prouct Description
				------------------------------------------------------------------------------
				{% endcomment %}
				<div class="product-details__description rte" itemprop="description">
					{{ product.description }}
				</div>

			</div>
			{% comment %} /.product-details {% endcomment %}
		</div>
		{% comment %} /.flexgrid {% endcomment %}
	</div>
	{% comment %} /.container {% endcomment %}

	{% comment %}
	------------------------------------------------------------------------------
	Related Products
	------------------------------------------------------------------------------
	{% endcomment %}
	{% include 'related-products' %}

	{% comment %}
	------------------------------------------------------------------------------
	Product Data
	------------------------------------------------------------------------------
	{% endcomment %}
	{% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</section>